/*Пример подключения фона*/

/*@font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
*/
@font-face {
	font-family: "bip";
	src: url("fonts/bip_[uk.allfont.net].ttf")
}
@font-face {
	font-family: "tt";
	src: url("fonts/tt0351m_.ttf")
}
@font-face {
	font-family: "Comic_Sans";
	src: url("fonts/v_I_hate_Comic_Sans.ttf")
}