@charset "UTF-8";
/*     WEBART CSS     */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*,
*:before,
*:after{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer;
  outline: none; }

:focus {
  outline: none; }

.none {
  display: none; }

.d_none {
  display: none !important; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline_b {
  display: inline-block; }

.flex {
	display: flex;
}

.pointer {
  cursor: pointer; }

.underline {
  text-decoration: underline; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.static {
  position: static; }

.top {
  top: 0; }

.left {
  left: 0; }

.right {
  right: 0; }

.bottom {
  bottom: 0; }

.center {
  text-align: center; }

.middle {
  vertical-align: middle; }