/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  By Orest  ==========*/
@media (max-width: 3840px){
	.modalCallContent {
		font-size: 3em;
	}
	.modalCallContent .form_conditions .text {
		margin: 3% 0 4% 0;
	}
	.modalCallContent .form_conditions form .filling {
		border-radius: 35px;
	}
	.modalCallContent .form_conditions form .order_conditions {
		margin: 1% 0 2% 0;
		border-radius: 35px;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 5em;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 18% 12%;
	}
	section.menu {
		font-size: 5em;
	}
	section.menu .content {
		width: 100%;
	}
	section.menu .content .buttom .order_menu {
		border-radius: 45px;
        line-height: 100%;
        padding: 30px 40px;
	}
	section.first {
		font-size: 5em;
	}
	section.second {
		font-size: 5em;
	}
	section.second .content .container .discount .conditions .form_conditions {
		padding: 7% 1% 1% 1%;
	}
	section.second .content .container .discount .conditions .form_conditions form .filling {
		border-radius: 35px;
		margin: 0 0 4% 0;
	}
	section.second .content .container .discount .conditions .form_conditions form .order_conditions {
		border-radius: 35px;
	}
	section.third {
		font-size: 5em;
	}
	section.fourth {
		font-size: 5em;
	}
	section.fourth .content .container .ordering .ordering_name .form_name {
		border-radius: 35px;
	}
	section.fourth .content .container .ordering .ordering_name .form_tel {
		border-radius: 35px;
	}
	section.fourth .content .container .ordering .ordering_name .number {
		border-radius: 35px;
	}
	section.fourth .content .container .ordering .ordering_name .info_select_color .color ul li.header {
		border-radius: 35px;
	}
	section.fourth .content .container .ordering .ordering_name .order_fourth {
		border-radius: 35px;
	}
	section.fifth {
		font-size: 5em;
	}
	section.sixth {
		font-size: 5em;
	}
	section.seventh {
		font-size: 5em;
	}
	section.eighth {
		font-size: 5em;
	}
	section.eighth .content .form form .name, section.eighth .content .form form .tel {
		border-radius: 35px;
		padding: 4% 1% 4% 1%;
		margin: 4% 0;
	}
	section.eighth .content .form form .order_eighth {
		border-radius: 35px;
		margin: 5% 0 10% 0;
	}
	section.nine {
		font-size: 5em;
	}
}
@media (max-width: 3505px) {
	section.fourth .content {
		padding-bottom: 0%;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 21% 12%;
	}
	section.eighth .content {
        padding-bottom: 3%;
	}
}
@media (max-width: 2560px){ /*1920-!-*/
	.pop_up_window {
		font-size: 3em;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 17% 12%;
	}
	.modalCallContent {
		font-size: 2em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 3em;
	}
	section.menu {
		font-size: 3.8em;
	}
	section.first {
		font-size: 3.8em;
	}
	section.first .content .action .text {
		margin: 37% 0% 0% 2%;
	}
	section.second {
		font-size: 3.8em;
	}
	section.second .content .container .discount .conditions .form_conditions .text {
		font-size: 90%;
	}
	section.second .content .container .discount .conditions .form_conditions form .filling {
		margin: 0 0 2% 0;
		font-size: 100%;
	}
	section.third {
		font-size: 4em;
	}
	section.fourth {
		font-size: 3.8em;
	}
	section.fifth {
		font-size: 4em;
	}
	section.fifth .content {
		padding-bottom: 4%;
	}
	section.fifth .content .advantages {
		margin: 1% 5% 1% 5%;
	}
	section.sixth {
		font-size: 4.5em;
	}
	section.seventh {
		font-size: 4em;
	}
	section.eighth {
		font-size: 4em;
	}
	section.eighth .content .form form {
		padding-bottom: 6%;
	}
	section.eighth .content .form form .name, section.eighth .content .form form .tel {
		margin: 1% 0;
	}
	section.eighth .content .form form .order_eighth {
		margin: 3% 0% 2% 2%;
		font-size: 70%;
	}
	section.nine {
		font-size: 4em;
	}
}
@media (max-width: 2549px) {
	.modalColorsContent .model_balls .text_model {
		font-size: 2.5em;
	}
	section.first .content .delivery {
		margin: -2% 0% 0% 0%;
	}
	section.first .content .delivery .img {
		margin: -5% 0 1% 10%;
	}
	section.first .content .delivery .text {
		margin: -4% 0% 2% 13%;
	}
	section.first .content .action {
		margin: -7% 0% 0% 20%;
	}
}
@media (max-width: 2483px) {
	section.eighth .content {
		padding-bottom: 4%;
	}
}
@media (max-width: 2470px) {
	section.second {
		font-size: 3.7em;
		padding-bottom: 4%; 
	}
}
@media (max-width: 2436px) {
	section.second .content .container .discount .conditions .form_conditions .text {
		font-size: 85%;
	}
}
@media (max-width: 2390px) {
	section.menu {
		font-size: 3.7em;
	}
	section.fifth {
		font-size: 3.9em;
	}
	section.sixth {
		font-size: 4.2em;
	}
	section.eighth {
		font-size: 3.8em;
	}
	section.nine {
		font-size: 3.8em;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 16% 12%;
	}
}
@media (max-width: 2390px) {
	.modalCallContent {
		font-size: 1.9em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 2.8em;
	}
	section.menu {
		font-size: 3.6em;
	}
	section.first .content .delivery {
		margin: -2% 0% 1% 0%;
	}
	section.second {
		font-size: 3.6em;
	}
	section.third {
		font-size: 3.9em;
	}
	section.fourth {
		font-size: 3.7em;
	}
	section.fifth {
		font-size: 3.8em;
	}
	section.sixth {
		font-size: 4em;
	}
	section.seventh {
		font-size: 3.9em;
	}
	section.eighth {
		font-size: 3.7em;
	}
	section.nine {
		font-size: 3.7em;
	}
}
@media (max-width: 2280px) {
	.modalCallContent {
		font-size: 1.8em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 2.6em;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 15% 12%;
	}
	section.fourth .content .container .ordering .ordering_name .order_fourth {
		margin: 0;
	}
}
@media (max-width: 2160px) {
	.modalCallContent {
		font-size: 1.7em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 2.4em;
	}
	section.first .content .delivery {
		margin: -2% 0% 0% 0%;
	}
	section.first .content .action {
		margin: -8% 0% 0% 20%;
	}
	section.first .content .action .text {
		margin: 36% 0% 0% 2%;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 14% 12%;
	}
	section.menu {
		font-size: 3em;
	}
}
@media (max-width: 2100px) {
	.pop_up_window {
		font-size: 2.5em;
	}
	.modalCallContent {
		font-size: 1.6em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 2.5em;
	}
	section.menu {
		font-size: 3em;
	}
	section.first {
		font-size: 3em;
	}
	section.second {
		font-size: 3em;
	}
	section.third {
		font-size: 3em;
	}
	section.fourth {
		font-size: 3em;
	}
	section.fifth {
		font-size: 3em;
	}
	section.sixth {
		font-size: 3em;
	}
	section.seventh {
		font-size: 3em;
	}
	section.eighth {
		font-size: 3em;
	}
	section.eighth .content .form form .order_eighth {
		margin: 7% 0% 2% 2%;
	}
	section.nine {
		font-size: 3em;
	}
}
@media (max-width: 1970px) {
	section.fourth .content .container .text_right {
		margin: 3% 0 16% 12%;
	}
	.modalCallContent {
		font-size: 1.5em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 2.3em;
	}
}
@media (max-width: 1920px){
	.modalCallContent {
		font-size: 1.4em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 2.1em;
	}
	section.menu {
		font-size: 2.5em;
	}
	section.menu .content .buttom .order_menu {
		padding: 20px 30px;
	}
	section.first {
		font-size: 2.8em;
	}
	section.second {
		font-size: 2.8em;
	}
	section.third {
		font-size: 2.8em;
	}
	section.fourth {
		font-size: 2.8em;
	}
	section.fifth {
		font-size: 2.8em;
	}
	section.sixth {
		font-size: 2.8em;
	}
	section.seventh {
		font-size: 2.8em;
	}
	section.eighth {
		font-size: 2.8em;
	}
	section.nine {
		font-size: 2.8em;
	}
}
@media (max-width: 1815px) {
	.modalColorsContent .model_balls .text_model {
		font-size: 2em;
	}
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 2.7em
	}
}
@media (max-width: 1740px) {
	.modalCallContent {
		font-size: 1.3em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 1.8em;
	}
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 2.6em
	}
}
@media (max-width: 1700px) {
	.pop_up_window {
		font-size: 2.3em;
	}
    .modalCallContent {
    	font-size: 1.2em;
    }
    .modalColorsContent .model_balls .text_model {
    	font-size: 1.6em;
    }
    section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
    	font-size: 2.5em
    }
}
@media (max-width: 1630px){ 
	.modalCallContent {
		font-size: 1.1em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 1.4em;
	}
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 2.4em
	}
}
@media (max-width: 1540px) {
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 2.3em
	}
	section.menu .content .buttom .order_menu {
		padding: 15px 20px;
	}
	.pop_up_window {
		font-weight: 2.1em;
	}
}
@media (max-width: 1485px){ 
	.modalCallContent {
		font-size: 1.1em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 1.5em;
	}
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 2.2em
	}
}
@media (max-width: 1420px){ 
	.modalCallContent {
		font-size: 1em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 1.3em;
	}
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 2.1em
	}
	section.menu .content .buttom .order_menu {
		padding: 10px 15px;
	}
}
@media (max-width: 1365px){ 
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 2em;
	}
	.pop_up_window {
		font-size: 2em;
	}
}
@media (max-width: 1300px) {
    section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
    	font-size: 1.9em;
    }
}
@media (max-width: 1235px){
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 1.8em;
	}
	.pop_up_window {
		font-size: 1.8em;
	}
}	
@media (max-width: 1170px){ 
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 1.7em;
	}
}
@media (max-width: 1120px) {
	.modalCallContent {
		font-size: 0.9em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 1.5em;
	}
	section.second .content .container .discount .conditions .form_conditions form .filling {
		font-size: 80%;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 15% 12%;
	}
}
@media (max-width: 1080px){ 
	.modalCallContent {
		font-size: 0.8em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 1em;
	}
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 1.6em;
	}
	.pop_up_window {
		font-size: 1.4em;
	}
}
@media (max-width: 1015px){ 
	section.menu , section.first , section.second , section.third , section.fourth , section.fifth , section.sixth , section.seventh , section.eighth , section.nine {
		font-size: 1.5em;
	}
	section.second {
		padding-bottom: 3%;
	}
}
@media (max-width: 1000px) {
    .pop_up_window {
    	font-size: 1.2em;
    }
    #modalCall .modal-dialog {
    	font-size: 1.8em;
    }
    .modalColorsContent .model_balls .text_model {
    	font-size: 0.9em;
    }
    section.menu, section.first, section.second, section.third, section.fourth, section.fifth, section.sixth, section.seventh, section.eighth, section.nine {
    	font-size: 1.4;
    }
    section.fourth .content .container .text_right {
    	margin: 3% 0 17% 12%;
    }
}
@media (max-width: 971px){ 
	section.fourth .content .container .text_right {
    	margin: 3% 0 15% 12%;
    }
    .pop_up_window {
    	font-size: 1.1em;
    }
    #modalCall .modal-dialog {
    	font-size: 1.7em;
    }
}
@media (max-width: 935px) {
	section.fourth .content .container .text_right {
		margin: 3% 0 14% 12%;
	}
	#modalCall .modal-dialog {
		font-size: 1.6em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 0.8em;
	}
}
@media (max-width: 920px) {
    section.menu, section.first, section.second, section.third, section.fourth, section.fifth, section.sixth, section.seventh, section.eighth, section.nine {
    	font-size: 1.3em;
    }
    section.fourth .content .container .text_right {
    	margin: 3% 0 18% 12%;
    }
}
@media (max-width: 902px) {
    section.fourth .content .container .text_right {
    	margin: 3% 0 15% 12%;
    }
}
@media (max-width: 861px) {
	#modalCall .modal-dialog {
		font-size: 1.5em;
	}
	.modalColorsContent .model_balls .text_model {
		font-size: 0.7em;
	}
    section.fourth .content .container .text_right {
    	margin: 3% 0 14% 12%;
    }
}
@media (max-width: 835px) {
    section.fourth .content .container .text_right {
    	margin: 3% 0 13% 12%;
    }
}
@media (max-width: 820px) {
	section.fourth .content .container .text_right {
		margin: 3% 0 13% 12%;
	}
	section.second {
		padding-bottom: 2%;
	}
}
@media (max-width: 799px) {

}
@media (max-width: 803px) {
    section.fourth .content .container .text_right {
    	margin: 3% 0 13% 12%;
    }
    section.eighth .content {
    	padding-bottom: 2%;
    }
    section.menu, section.first, section.second, section.third, section.fourth, section.fifth, section.sixth, section.seventh, section.eighth, section.nine {
    	font-size: 1.2em;
    }
}
@media (max-width: 790px){ 
	#modalCall .modal-dialog {
		font-size: 1.4em;
	}
}
@media (max-width: 770px){
	section.menu, section.first, section.second, section.third, section.fourth, section.fifth, section.sixth, section.seventh, section.eighth, section.nine {
		font-size: 1.1em;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 16% 12%;
	}
}
@media (max-width: 765px) {
    #modalCall .modal-dialog {
    	font-size: 1.3em;
        margin: auto;
    }
    section.fourth .content .container .text_right {
    	margin: 3% 0 14% 12%;
    }
}
@media (max-width: 720px){ 
	section.menu, section.first, section.second, section.third, section.fourth, section.fifth, section.sixth, section.seventh, section.eighth, section.nine {
		font-size: 1em;
	}
	section.fourth .content .container .text_right {
		margin: 3% 0 16% 12%;
	}
	section.eighth .content {
		padding-bottom: 4%;
	}
}
@media (max-width: 700px){ 
	section.fourth .content .container .ordering .ordering_name .form_name {
		margin: 2% 0 2% 0;
	}
	section.fourth .content .container .ordering .ordering_name .info_select_color .color {
		margin: 0 0% 1% 10%;
	}
}
@media (max-width: 698px){ 
	section.fourth .content .container .text_right {
		margin: 3% 0 13% 12%;
	}
	#modalCall .modal-dialog {
		font-size: 1.2em;
	}
	.pop_up_window {
		font-size: 1em;
	}
}
@media (max-width: 669px){ 
	section.fourth .content .container .text_right {
		margin: 3% 0 11% 12%;
	}
}
@media (max-width: 654px){ 
	section.fourth .content .container .ordering .ordering_name .info_select_color .color {
		margin: 0 0 0 10%;
	}
	section.fourth .content .container .ordering .ordering_name .amount {
		margin: 2% 0;
	}
}
@media (max-width: 650px) {
    section.fourth .bg{
    	display: none;
    }
    section.fourth .bgMob {
    	display: block;
    	width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 0;
    }
    section.fourth .bgMob .bgMob0 img , section.fourth .bgMob .bgMob1 img , section.fourth .bgMob2 img {
    	width: 100%;
    	height: 100%;
    }
    section.fourth .bgMob .bgMob0 {
    	display: block;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 0;
    }
    section.fourth .bgMob .bgMob1 {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: -1%;
        left: 0;
        z-index: 2;
        transform: rotate(180deg);
    }
    section.fourth .bgMob2 {
    	display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    section.fourth .content .container .logo_left {
    	width: 45%;
    }
    section.fourth .content .container .logo_left .logo_text .name .name_text {
    	font-size: 135%;
    }
    section.fourth .content .container .logo_left .logo_text .name .title_name_text {
    	font-size: 70%;
    }
    section.fourth .content .container .logo_left .logo_text .price .thirdOldCarrouselTextColor {
    	font-size: 90%;
    }
    .fourthCarrouselTextColor {
    	font-size: 150%;
	    font-weight: 700;
	    margin-top: 2%;
    }
    section.fourth .content .container .ordering {
    	width: 45%;
    	display: inline-block;
	    position: relative;
	    text-align: center;
	    margin: 0;
	    vertical-align: top;
    }
    section.fourth .content .container .ordering .bg_ordering {
    	width: 80%;
	    height: 100%;
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 9%;
	    z-index: 0;
    }
    section.fourth .content .container .ordering .bg_ordering img {
    	width: 100%;
        max-height: 100%;
    }
    section.fourth .content .container .ordering .ordering_name {
    	width: 80%;
	    margin: auto;
	    display: block;
	    position: relative;
	    z-index: 1;
	    padding: 20px 0;
    }
    section.fourth .content .container .ordering .ordering_name form {
    	margin: 0;
    }
    section.fourth .content .container .ordering .ordering_name .form_name {
    	font-size: 90%;
    	
    }
    section.fourth .content .container .ordering .ordering_name .form_tel {
    	font-size: 90%;

    }
    section.fourth .content .container .text_right {
    	display: flex;
	    justify-content: center;
	    align-items: stretch;
	    width: 100%;
    	margin: 2% 0 0 0;
    }
    section.fourth .content .container .text_right .text_rightImg {
    	display: inline-block;
        max-width: 12%;
        padding: 0;
    }
    section.fourth .content .container .text_right .text_rightImg img {
    	width: 100%;
    	height: 100%;
    }
    section.fourth .content .container .text_right .work_schedule {
    	display: flex;
	    background: #f4f4f4;
	    align-items: center;
	    padding-right: 2%;
    }
    section.fourth .content .container .text_right .consultant {
    	display: inline-block;
	    font-size: 85%;
	    line-height: 140%;
	    font-weight: 100;
	    text-transform: uppercase;
	    font-family: "bip";
	    width: 50%;
    }
    section.fourth .content .container .text_right .time {
    	display: inline-block;
	    font-size: 80%;
	    line-height: 100%;
	    font-weight: 100;
	    text-transform: uppercase;
	    font-family: "bip";
	    margin-top: 10px;
	    color: #000;
	    width: 40%;
    }
}
@media (max-width: 639px){ /*600-!-*/
}
@media (max-width: 599px){ /*568-!-*/
}
@media (max-width: 567px){ /*540*/
}
@media (max-width: 539px){ /*507-!-*/
}
@media (max-width: 506px){ /*480*/
}
@media (max-width: 479px){ /*414-!-*/
}
@media (max-width: 413px){ /*375-!-*/
}
@media (max-width: 373px){ /*320-!-*/
}