.modalColorsContent .model_balls .img_model { 
    border-bottom: groove 2px #009fe3;
}
.modalColorsContent .model_balls .text_model {
    color: #009fe3;
}
.menuTextColor, a, a:link{
	color: #009fe3;
}
.order_menu {
	color: #009fe3;
}
.firstTextColor {
	color: #006f9e;
}
h3 {
	color: #00497f;
}
.secondCarrouselTextColor {
	color: #009fe3;
}
.secondOrder_priceTextColor {
	background: #82c8dc;
	color: #00497f;
}
.secondActionTextColor {
	color: #00497f;
}
.secondConditionsTextColor {
	color: #006f9e;
}
.secondConditionsOrderTextColor {
	color: #00497f;
	background: #83a9d9;
}
.secondFillingTextColor {
	color: #006f9e;
}
.thirdCarrousel_nemeTextColor {
	color: #012138;
}
.thirdOldCarrouselTextColor {
	color: #000;
	font-family: "tt";
	text-decoration: line-through;
}
section.third .content .container .block .carrousel_third .item .information:hover .thirdCarrousel_nemeTextColor,
section.third .content .container .block .carrousel_third .item .information:hover .thirdCarrouselTextColor {
	text-shadow: 0px 3px 0px #fff, 3px 0px 0px #fff, -3px 0px 0px #fff, 0px -3px 0px #fff;
}
.thirdCarrouselTextColor {
	color: #00497f;
}
.thirdOrder_priceTextColor {
	background: #82c8dc;
	color: #00497f;
}
h6 {
	color: #00497f;
	text-shadow: 0px 3px 0px #fff, 3px 0px 0px #fff, -3px 0px 0px #fff, 0px -3px 0px #fff;
}
.fourthCarrousel_nemeTextColor {
	color: #009fe3;
	/*color: #012138;*/
}
.fourthCarrouselTextColor {
	color: #00497f;
}
.fourthCarrouselTextColor.thirdOldCarrouselTextColor {
	color: #000;
	font-family: "tt";
	text-decoration: line-through;
}
.fourthFormColor {
	color: #009fe3;
}
.fourthForm_textColor {
	color: #ffffff;
}
.fourthText_rightColor {
	color: #00497f;
}
.fifthTextColor {
	color: #00497f;
}
.sixthTextColor {
	color: #00497f;
}
.seventhTextColor {
	color: #00497f;
}
.eighthTextColor {
	color: #ce2e7d;
}
.eighthOrderTextColor {
	background: #89d0ee;
	color: #00497f;
}
.nineTextColor {
	color: #00497f;
}
.pulse{
	 -webkit-animation: pulse 2.5s linear infinite;
 	-moz-animation: pulse 2.5s linear infinite;
 	animation: pulse 2.5s linear infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow:0 0 5px #aff4ea;
    }
    50% {
        -webkit-box-shadow:0 0 45px #aff4ea;
    }
    100% {
       -webkit-box-shadow:0 0 5px #aff4ea;
    }
}

@-moz-keyframes pulse {
    0% {
        moz-box-shadow:0 0 5px #aff4ea;
    }
    50% {
       moz-box-shadow:0 0 45px #aff4ea;
    }
    100% {
       moz-box-shadow:0 0 5px #aff4ea;
    }
}

@keyframes pulse {
    0% {
        box-shadow:0 0 5px #aff4ea;
    }
    50% {
        box-shadow:0 0 45px #aff4ea;
    }
    100% {
        box-shadow:0 0 5px #aff4ea;
    }
}
.pulseButton{
	border:0px;

	-webkit-animation: pulseButton 2s linear infinite;
 	-moz-animation: pulseButton 2s linear infinite;
 	animation: pulseButton 2s linear infinite;
}
@-webkit-keyframes pulseButton {
    0% {
        -webkit-box-shadow:0 0 5px #ff0030;
    }
    50% {
        -webkit-box-shadow:0 0 45px #aff4ea;
    }
    100% {
       -webkit-box-shadow:0 0 5px #00497f;
    }
}

@-moz-keyframes pulseButton {
    0% {
        moz-box-shadow:0 0 5px #ff0030;
    }
    50% {
       moz-box-shadow:0 0 45px #aff4ea;
    }
    100% {
       moz-box-shadow:0 0 5px #00497f;
    }
}

@keyframes pulseButton {
    0% {
        box-shadow:0 0 5px #ff0030;
    }
    50% {
        box-shadow:0 0 45px #aff4ea;
    }
    100% {
        box-shadow:0 0 5px #00497f;
    }
}