*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {	
}

span{
	cursor: default;
}
.frontend{
    min-height: 100vh;
}
.pop_up_window {
    position: fixed;
    top: 150px;
    right: 50px;
    z-index: 20;
    font-size: 2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fafafa;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    text-align: left;
    display: none;
}
.pop_up_window.error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.pop_up_window.success{
    background-color:#dff0d8;
    border-color:#d6e9c6;
    color:#3c763d
}
.pop_up_window .pop_up_window_text {
    width: 90%;
    font-size: 66%;
    line-height: 100%;
    font-weight: 600;
    text-align: left;
}
.pop_up_window .glyphicon.glyphicon-remove {
    position: absolute;
    top: 8px;
    right: 0;
    color: #de3d27;
    font-size: 80%;
    cursor: pointer;
}
.close {
	position: absolute;
    width: 11%;
    height: 11%;
    top: 2%;
    right: 5%;
    opacity: 1;
    z-index: 1;
}
.close img {
	width: 100%;
	height: 100%;
}
#modalCall .modal-dialog {
	width: 60%;
	height: auto;
	font-size: 2em;
}
#modalCall .modal-content{
	background: unset;
	border: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 100%;
}
.modalCallContent {
	width: 90%;
    margin: auto;
    text-align: center;
}
.modalCallContent .bg_conditions {
	width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}
.modalCallContent .bg_conditions img {
	width: 100%;
	height: auto;
}
.modalCallContent .form_conditions {
	width: 80%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 6%;
    /* left: 5%; */
    border-radius: 100%;
    display: block;
    overflow: hidden;
    padding: 3% 1% 1% 1%;
    margin: 0 5% 0 5%;
    text-align: center;
}
.modalCallContent .form_conditions .text {
	width: 100%;
    font-size: 140%;
    line-height: 115%;
    font-weight: 600;
    margin: 3% 0 6% 0;
    text-transform: uppercase;
}
.modalCallContent .form_conditions form {
	width: 100%;
    margin: 2% 0 0 0;
    display: block;
}
.modalCallContent .form_conditions form .filling {
	font-size: 100%;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    margin: 0 0 2% 0;
    padding: 1% 0;
    width: 70%;
    border-radius: 20px;
    text-transform: uppercase;
}
.modalCallContent .form_conditions form .filling::-webkit-input-placeholder {
	color: #006f9e;
}
.modalCallContent .form_conditions form .filling::-moz-placeholder{
	color: #006f9e;
}
.modalCallContent .form_conditions form .filling:-moz-placeholder {
	color: #006f9e;
}
.modalCallContent .form_conditions form .filling:-ms-input-placeholder {
	color: #006f9e;
}
.modalCallContent .form_conditions form .order_conditions {
	font-size: 120%;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    padding: 1% 6% 2% 6%;
    border-radius: 20px;
    margin: 1% 0 6% 0;
}
.modalCallContent .form_conditions .end {
	font-size: 110%;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    padding: 1% 6% 2% 6%;
    border-radius: 20px;
    margin: 0 0 6% 0;
}
#modalColors {
	width: 100%;
	height: auto;
	margin: 0;
	padding:17px;
	cursor: default;
}
#modalColors .modal-dialog {
	width: 100%;
    height: 70%;
    display: block;
    margin: auto;
}
#modalColors .modal-content {
	width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
}
.modalColorsContent {
	width: 100%;
    padding: 4%;
    height: 100%;
    display: block;
    background: #fff;
    overflow-y: scroll;
}
.modalColorsContent .close_one {
	width: 5%;
    height: 7%;
    position: absolute;
    top: 2%;
    right: 2%;
    opacity: 1;
    z-index: 1;
    text-align: center;
}
.modalColorsContent .close_one img {
	width: 25px;
	height: 25px;
}
.modalColorsContent .model_balls {
	width: 15%;
    display: inline-block;
    text-align: center;
    margin: 2%;
    cursor: pointer;
    vertical-align: top;
}
.modalColorsContent .model_balls .img_model {
	width: 60%;
    display: block;
    margin: auto;
    cursor: pointer;
}
.modalColorsContent .model_balls .img_model img {
	width: 100%;
	height: 100%;
}
.modalColorsContent .model_balls .text_model {
	width: 100%;
    display: block;
    font-size: 2em;
}
.modalColorsContent .model_balls .text_model .number {
	width: 100%;
    display: block;
    font-size: 100%;
    line-height: 100%;
    margin: 4% 0;
}
.modalColorsContent .model_balls .text_model .palette {
	width: 100%;
    font-size: 100%;
    display: block;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
}
#modalPolicy {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 3% 0% 0% 1%;
	cursor: default;
}
#modalPolicy .modal-dialog {
	width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    font-size: 2em;
    text-align: center;
}
#modalPolicy .modal-dialog {
	width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
#modalPolicy .modal-content {
	width: 100%;
    height: 70%;
    overflow: hidden;
    margin: auto;
}
.modalPolicyContent {
	width: 100%;
    padding: 4%;
    height: 100%;
    display: block;
    background: rgba(51, 51, 51, 0.69);
    overflow-y: scroll;
}
.modalPolicyContent .close_thwo {
	width: 98%;
	display: block;
	position: fixed;
	background: rgba(51, 51, 51, 1);
	top: 0;
	left: 0;
	color: #fcf8e3;
	padding: 2% 0;
    text-align: left;
}
.modalPolicyContent .close_thwo .titleModalPolicy {
	width: 75%;
    text-align: center;
    display: inline-block;
    font-size: 150%;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    border: solid 2px #fff;
    padding: 2% 0;
}
.modalPolicyContent .close_thwo a {
	width: 5%;
	height: 5%;
	position: absolute;
	top: 25%;
	right: 2%;
}
.modalPolicyContent .close_thwo a img {
	width: 100%;
	height: auto;
}
.modalPolicyContent .textModalPolicy {
	/*margin-top: 9%;*/
    padding-top: 9%;
    font-size: 115%;
    line-height: 120%;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 3px 0px #000, 3px 0px 0px #000, -3px 0px 0px #000, 0px -3px 0px #000;
    text-align: left;
}
.nullBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
	opacity: 0.5;
    background-size: 100% auto;
}
section.menu {
	width: 100%;
    position: fixed;
    font-size: 1.8em;
    overflow: hidden;
    z-index: 30;
    top: 0;
    background: #fff;
    text-align: center;
}
section.menu .content {
	width: 88%;
    display: inline-flex;
    justify-content: space-around;
    padding: 2% 0 2% 0;
    align-items: center;
    margin: auto;
}
section.menu .content .title {
	text-align: center;
    display: inline-block;
}
section.menu .content .title .text {
	font-size: 77%;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 600;
}
section.menu .content .fone {
	display: inline-block;
    text-align: center;
}
section.menu .content .fone .tel {
	font-size: 90%;
	display: block;
	font-weight: 600;
}
section.menu .content .fone .text_fone {
	font-size: 60%;
	/*text-decoration: underline;*/
	border-bottom: 2px dotted #009fe3;
} 
section.menu .content .buttom {
	display: inline-block;
} 
section.menu .content .buttom .order_menu {
	background: #fff;
    border-radius: 15px;
    padding: 12px 22px;
    font-size: 75%;
    line-height: 75%;
    text-transform: uppercase;
    font-weight: bold;
}
section.menu .content .buttom .order_menu:hover {
	background: #fff;
}
section.first {
	width: 100%;
    font-size: 2em;
    overflow: hidden;
    position: relative;
}
section.first .bg {
	width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
section.first .bg img {
	width: 100%;
	height: auto;
}
section.first .bg .carrousel_first {
	width: 100%;
	height: 100%;
}
section.first .bg .carrousel_first .item, section.first .bg .carrousel_first .owl-item {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
section.first .bg .carrousel_first .item img {
	display: block;
    min-height: 100%;
    min-width: 100%;
}
section.first .content {
	width: 100%;
    position: relative;
    z-index: 1;
    display: inline-block;
}
section.first .content .previous {
	width: 5%;
    display: inline-block;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 5%;
    cursor: pointer;
}
section.first .content .previous .img {
	width: 100%;
}
section.first .content .previous img {
	width: 100%;
}
section.first .content .center {
	width: 56%;
    display: inline-block;
    text-align: center;
    margin: 9% 0 0 22%;
}
section.first .content .center .logo {
	width: 30%;
    display: block;
    margin: auto;
}
section.first .content .center .logo img {
	width: 100%;
}
section.first .content .center .text_logo {
	width: 80%;
    display: block;
    text-align: center;
    margin: auto;
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    font-size: 116%;
    line-height:50%;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px rgba(0, 159, 227, 0.95) , 3px 0px 0px rgba(0, 159, 227, 0.95) , -3px 0px 0px rgba(0, 159, 227, 0.95) ,  0px -3px 0px rgba(0, 159, 227, 0.95);
} 
section.first .content .center .text_logo .slogan {
	display: block;
	color: #a1fdf1;
}
section.first .content .following {
	width: 5%;
    display: inline-block;
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 5%;
    cursor: pointer;
}
section.first .content .following .img {
	width: 100%;
}
section.first .content .following img {
	width: 100%;
}
section.first .content .delivery {
	width: 37%;
    display: inline-block;
    margin: 0% 0% 0% 0%;
    z-index: 2;
    position: relative;
} 
section.first .content .delivery .img {
	width: 47%;
    display: block;
    margin: -2% 0 1% 10%;
    position: relative;
}
section.first .content .delivery .img img {
	width: 100%;
    display: block;
}
section.first .content .delivery .text {
	width: 46%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 3% 2%;
    margin: -3% 0% 2% 13%;
    font-size: 66%;
    text-transform: uppercase;
    line-height: 112%;
    display: block;
}
section.first .content .delivery .text .text_delivery.firstTextColor {
	color: #006f9e;
}
section.first .content .action {
	width: 40%;
    display: inline-flex;
    margin: -6% 0% 0% 20%;
}
section.first .content .action .img {
	width: 17%;
    display: inline-block;
    margin: 0% 0% 0% 33%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
section.first .content .action .img img {
	width: 170%;
}
section.first .content .action a:hover{
	text-decoration: none;
}
section.first .content .action .text {
	width: 48%;
    display: inline-block;
    background: #fff;
    text-align: center;
    padding: 7% 3% 4% 2%;
    font-size: 68%; 
    text-transform: uppercase;
    margin: 39% 0% 0% 2%;
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 0;
    cursor: pointer;
}
section.first .content .action .text span{
	cursor: pointer;
}
section.first .content .action .text .text_action.firstTextColor {
	color: #006f9e;
}
section.second {
	width: 100%;
    font-size: 2em;
    overflow: hidden;
    position: relative;
    padding-bottom: 5%;
    z-index: 1;
}
section.second .bg {
	width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
section.second .bg img {
	width: 100%;
	height: auto;
}
section.second .content {
	width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}
section.second .content .title {
	width: 80%;
    display: block;
    text-transform: uppercase;
    font-size: 115%;
    line-height: 100%;
    font-weight: 900;
    margin: auto;
    padding: 3% 0;
}
section.second .content .container {
	width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.35);
}
section.second .content .container .block {
	width: 65%;
    display: inline-flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    padding: 5% 0% 0% 0%;
    height: 100%;
}
section.second .content .container .block .previous , section.second .content .container .block .following {
	width: 5%;
	cursor: pointer;
}
section.second .content .container .block .previous img , section.second .content .container .block .following img {
	width: 100%;
}
section.second .content .container .block .carrousel_second {
	width: 90%;
}
section.second .content .container .block .carrousel_second .item {

}
section.second .content .container .block .carrousel_second .item .img {
	width: 90%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
}
section.second .content .container .block .carrousel_second .item .img .goods {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(255, 255, 255, 0.2);
}
section.second .content .container .block .carrousel_second .item .img .goods img {
	min-width: 100%;
    min-height: 100%;
    display: block;
    background:#fff;
}
section.second .content .container .block .carrousel_second .item .img .img_bg {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    display: block;
}
section.second .content .container .block .carrousel_second .item .information {
	width: 100%;
	display: block;
}
section.second .content .container .block .carrousel_second .item .information .name {
	width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 70%;
    line-height: 100%;
    font-weight: 500;
    margin: 6% 0;
}
section.second .content .container .block .carrousel_second .item .information .price {
	width: 100%;
	display: block;
    text-transform: uppercase;
	font-size: 100%;
	line-height: 100%;
	font-weight: 200;
}
section.second .content .container .block .carrousel_second .item .information .order {
	visibility: hidden;
	display: block;
}
section.second .content .container .block .carrousel_second .item:hover .information .order {
	visibility: visible;
	display: block;
}
section.second .content .container .block .carrousel_second .item .information .order .order_price {
	font-size: 140%;
    line-height: 100%;
    padding: 0 4% 4% 4%;
    border-radius: 20px;
    margin-top: 15%;
}
section.second .content .container .discount {
	width: 35%;
    display: block;
    text-align: center;
    position: relative;
} 
section.second .content .container .discount .action {
	width: 30%;
    font-size: 220%;
    line-height: 80%;
    position: absolute;
    z-index: 2;
    -moz-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    -webkit-transform: rotate(-55deg);
    margin: 9% 0% 0% -5%;
    font-weight: 900;
}
section.second .content .container .discount .conditions {
	width: 90%;
	margin: auto;
}
section.second .content .container .discount .conditions .bg_conditions {
	width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}
section.second .content .container .discount .conditions .bg_conditions img {
	width: 100%;
}
section.second .content .container .discount .conditions .form_conditions {
	width: 90%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 2%;
    left: 5%;
    border-radius: 100%;
    display: block;
    overflow: hidden;
    padding: 3% 1% 1% 1%;
    margin: auto;
}
section.second .content .container .discount .conditions .form_conditions .text {
	width: 100%;
    font-size: 100%;
    line-height: 100%;
    font-weight: 600;
    margin: auto;
    text-transform: uppercase;
}
section.second .content .container .discount .conditions .form_conditions form {
	width: 100%;
    margin: 2% 0 0 0;
}
section.second .content .container .discount .conditions .form_conditions form .filling {
	font-size: 100%;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    margin: 0 0 2% 0;
    padding: 1% 0;
    width: 70%;
    border-radius: 20px;
    text-transform: uppercase;
}
section.second .content .container .discount .conditions .form_conditions form .filling::-webkit-input-placeholder {
	color: #006f9e;
}
section.second .content .container .discount .conditions .form_conditions form .filling::-moz-placeholder{
	color: #006f9e;
}
section.second .content .container .discount .conditions .form_conditions form .filling:-moz-placeholder {
	color: #006f9e;
}
section.second .content .container .discount .conditions .form_conditions form .filling:-ms-input-placeholder {
	color: #006f9e;
}
section.second .content .container .discount .conditions .form_conditions form .order_conditions {
	font-size: 118%;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    padding: 1% 6% 2% 6%;
    border-radius: 20px;
}
section.third {
	width: 100%;
    font-size: 2em;
    overflow: hidden;
    position: relative;
    margin-top: -3%;
    z-index: 2;
}
section.third .bg {
	width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
section.third .bg .fon {
	width: 100%;
	height: 100%;
	background: #afd6f2;
}
section.third .bg img {
	width: 100%;
	display: block;
}
section.third .content {
	width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}
section.third .content .title {
	width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 115%;
    line-height: 100%;
    font-weight: 900;
    margin: 5% 0 0 0;
    padding: 0;
    text-align: center;
}
section.third .content .container {
	width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
section.third .content .container .menuBlock {
	display: flex;
	justify-content: space-around;
	margin-top: 2%;
}
section.third .content .container .menu {
	width: 100%;
    display: inline-block;
    vertical-align: top;
    padding-top: 1%;
    position: relative;
    cursor: pointer;
}
section.third .content .container .menu .bg_menu {
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}
section.third .content .container .menu .bg_menu img {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	display: none;
}
section.third .content .container .menu.active .bg_menu img {
	display: block;
}
section.third .content .container .menu .img {
	width: 50%;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 25% 6% 25%;
    position: relative;
    z-index: 1;
}
section.third .content .container .menu .img img {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    display: block;
}
section.third .content .container .menu .img .bg_img_menu {
	width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(255, 255, 255, 0.2);
}
section.third .content .container .menu .img .bg_img_menu img {
	min-width: 100%;
    min-height: 100%;
    display: block;
     background:#fff;
}
section.third .content .container .menu .text_menu {
	width: 70%;
    display: block;
    text-transform: uppercase;
    font-size: 100%;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
    padding: 1% 0 6% 0;
    position: relative;
    z-index: 1;
    margin: auto;
}
section.third .content .container .block {
	width: 100%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    vertical-align: top;
    height: 100%;
    padding-top: 1.5%;
    background: rgba(201, 161, 207, 0.7);
}
section.third .content .container .block .previous , section.third .content .container .block .following {
	width: 5%;
    display: inline-block;
    margin-top: 6%;
    cursor: pointer;
}
section.third .content .container .block .previous img , section.third .content .container .block .following img {
	width: 100%;
}
section.third .content .container .block .carrousel_third {
	width: 90%;
    display: none;
    justify-content: center;
}
section.third .content .container .block .carrousel_third .item {
	/*width: 20%;*/
    display: block;
    margin: 2% 2% 6% 2%;
}
section.third .content .container .block .carrousel_third .item .img_carrousel {
	width: 85%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
}
section.third .content .container .block .carrousel_third .item .img_carrousel img {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    display: block;
}
section.third .content .container .block .carrousel_third .item .img_carrousel .goods {
	width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(255, 255, 255, 0.2);
}
section.third .content .container .block .carrousel_third .item .img_carrousel .goods img {
	min-width: 100%;
    min-height: 100%;
    display: block;
    background:#fff;
}
section.third .content .container .block .carrousel_third .item .information {
    width: 100%;
    display: block;
}
section.third .content .container .block .carrousel_third .item .information .name {
	width: 100%;
    display: block;
    margin: 4% 0 2% 0;
    vertical-align: top;
}
section.third .content .container .block .carrousel_third .item .information .name .title_name_text {
	width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 70%;
    line-height: 100%;
    font-weight: 400;
    padding: 2%;
}
section.third .content .container .block .carrousel_third .item .information .name .name_text {
	width: 100%;
	display: block;
	font-size: 60%;
	line-height: 100%;
	padding: 2%;
}
section.third .content .container .block .carrousel_third .item .information .price {
	width: 100%;
    display: block;
    visibility: hidden;
    margin-top: 6%;
}
section.third .content .container .block .carrousel_third .item .information .price .price_text {
	width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 90%;
    line-height: 100%;
    font-weight: 200;
}
section.third .content .container .block .carrousel_third .item .information .price .old_price {
	width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 60%;
    line-height: 100%;
    font-weight: 100;
    text-decoration: line-through;
}
section.third .content .container .block .carrousel_third .item:hover .information .price , section.third .content .container .block .carrousel_third .item:hover .information .order .order_price {
	visibility: visible;
}
section.third .content .container .block .carrousel_third .item .information .order .order_price {
	font-size: 100%;
    line-height: 100%;
    padding: 0 4% 4% 4%;
    margin-top: 5%;
    border-radius: 20px;
    visibility: hidden;

}
section.fourth {
	width: 100%;
    font-size: 2em;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #fff;
}
section.fourth .bg {
	width: 30%;
    height: 60%;
    display: block;
    position: absolute;
    top: 35%;
    left: 36%;
    z-index: 0;
    overflow: hidden;
}
section.fourth .bg img {
	width: 100%;
    height: 100%;
}
section.fourth .bg_one {
	width: 100%;
    height: 33%;
    display: block;
    position: absolute;
    top: 8%;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
section.fourth .bg_one img {
	width: 100%;
	height: 100%;
}
section.fourth .content {
	width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
}
section.fourth .content .title {
	width: 50%;
    display: block;
    font-size: 115%;
    line-height: 100%;
    margin: 2% 25% 6% 25%;
    text-transform: uppercase;
    text-align: center;
}
section.fourth .content .carrousel_fourth {
	width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
section.fourth .content .carrousel_fourth .item.left {
	/*width: 30%;*/
    display: block;
    position: relative;
    z-index: 1;

}
section.fourth .content .carrousel_fourth .owl-item:nth-child(2n+1) .item .img {
	-moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
}
section.fourth .content .carrousel_fourth .owl-item:nth-child(2n) .item .img {
	-moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
}
section.fourth .content .carrousel_fourth .item .img {
	width: 95%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
    z-index: 1;  
}
section.fourth .content .carrousel_fourth .item .img img {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    display: block;
}
section.fourth .content .carrousel_fourth .item .img .img_bg {
	width: 70%;
    height: 50%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32% 0% 0% 16%;
}
section.fourth .content .carrousel_fourth .item .img .img_bg img {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
section.fourth .content .carrousel_fourth .item .text {
	width: 100%;
    display: block;
    font-size: 65%;
    line-height: 100%;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10% 5%;
    z-index: 0;
    background: #c6e9fa;
    position: relative;
    margin: -12% 0% 25% 0%;
    border-radius: 15px;
}
section.fourth .content .carrousel_fourth .item.right {
	/*width: 30%;*/
    display: block;
    position: relative;
    z-index: 1;
} 
section.fourth .content .carrousel_fourth .item .item_block {
	width: 50%;
    display: block;
    margin: auto;
}
section.fifth {
	width: 100%;
    font-size: 2em;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #bfe4ff;
    margin-top: -5%;
}
section.fifth .content {
	width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    padding: 5% 2% 3% 2%;
    text-align: center;
}
section.fifth .content .information {
	width: 35%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	font-size: 85%;
    line-height: 100%;
    font-weight: 300;
    text-transform: uppercase;
}
section.fifth .content .information .policy {
	margin-top: 4%;
	cursor: pointer;
}
section.fifth .content .information .policy .policy_text {
	font-size: 85%;
    line-height: 100%;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}
section.fifth .content .information .policy .policy_text:hover {
	text-decoration: none;
}
section.fifth .content .contacts {
	width: 25%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	font-size: 85%;
    line-height: 100%;
    font-weight: 300;
    text-transform: uppercase;
}
section.fifth .content .contacts .text {
	font-size: 80%;
    line-height: 130%;
    font-weight: 100;
    color: #000;
    margin: 2% 0;
    display: block;
    text-decoration: underline;
}
section.fifth .content .soc {
	width: 35%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
section.fifth .content .soc .title_soc {
	font-size: 85%;
    line-height: 100%;
    font-weight: 300;
    text-transform: uppercase;
}
section.fifth .content .soc .img_soc {
	width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 7% 15% 0 15%;
}
section.fifth .content .soc .img_soc a {
	width: 20%;
	display: block;
	cursor: pointer;
}
section.fifth .content .soc .img_soc .img img {
	width: 100%;
}

.field-buyFormProduct,
.field-buyFormPrice,
.field-buyFormNapovn,
.field-buyFormColor{
    display: none;
}
.frontend .form-group {
    margin: 0;
}