.divTable, .line, .header{
	width: 100%;
}
.content-right{
	text-align: right;
}
.content-center{
	text-align: center;
}
.content-left{
	text-align: left;
}
.divTable, .divTableProducts{
	margin: 10px 0;
	border-top: 1px solid grey;
	cursor: default;
}
.divTable .header, .divTableProducts .header{
	background: #d8e2f0;
}
.divTable .line, .divTable .header, 
.divTableProducts .line, .divTableProducts .header{
	display: flex;
	text-align: center;
	justify-content: space-around;
	border-bottom: 1px solid grey;
	padding: 0;
	min-width: 100%;
}
.divTable .cell, .divTableProducts .cell{
	display: inline-block;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	width: 100%; 
	overflow-wrap: break-word;
	-webkit-hyphens: auto; 
	-ms-hyphens: auto; 
	hyphens: auto;  /* значение auto не поддерживается Chrome */ 
    overflow: hidden;
}
.divTable .line:hover, .divTableProducts .line:hover{
	cursor: pointer;
	background: #d9edf7;
	color: #3c763d;
}
.divTable .line .cell, .divTableProducts .line .cell{
	padding: 10px;
}
.divTable .cell img, .divTableProducts .cell img{
	 max-width: 80%;
	 max-height: 80%;
}
.divTableProductsHeader{
	width: 100%;
	text-align: center;
	display: block;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}
.btn, .btn span, .btn label{
	cursor: pointer;
	border: 0;
}
.btn label{
	margin: 0;
}
.btn.add{
	background: #dfffdf;
}
.btn.add:hover{
	background: #43ef43;
}
.glyphicon{
	padding-right: 5px;
}
.site-login{
	text-align: center;
}
.site-login h1{
	font-size: 36px;
	font-weight: bold;
}
.site-login .title{
	margin: 5px 0;
}
.queryImage img{
 max-width: 100%;
}